<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <!-- Todo Home Page -->
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <p class="py-2">Welcome to Sports Scheduler</p>
            <p class="py-2">New Here?<a class="text-green-600" href="/signup">Sign-Up now...</a></p>
            <p class="py-2">Already have an Account?<a class="text-green-600" href="/login">Sign-In</a></p>
        </div>
    </div>
</body>
</html>